/* Input */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px 0;
  position: relative;
}

.name {
  margin: 0;
  color: var(--fg-secondary);
}

.input {
  min-width: 100%;
  height: 46px;

  margin: 0;
  padding: 15px;

  box-sizing: border-box;
  border-radius: 8px;
  border: none;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  appearance: textfield;
  outline: none;
  color: var(--fg-primary);
  background-color: var(--bg-input);
  border: 1px solid var(--bg-input);

  &:read-only {
    cursor: default;
  }
}

/* ? input невалидный */
.input_validity_invalid {
  border-color: var(--border-error);
}

.detail {
  margin: 0 0 0 15px;
  height: 12px;
  color: var(--fg-secondary);
}

.detail_type_required {
  color: var(--fg-detail);
}

.detail_type_error {
  color: var(--fg-error);
}
