.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px 50px;
  box-sizing: border-box;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  max-width: var(--max-width-app);
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px 0px;
}

.block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 14px 21px;
}

.block_type_shareholders {
  grid-template-columns: 1fr;
  gap: 21px;
}

.block_columns_two {
  grid-template-columns: repeat(2, minmax(310px, 1fr));
}

.shareholders {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.button {
  width: 100%;
  max-width: 320px;
  height: 45px;
  border-radius: 7px;
  padding: 0;
  margin: 0 auto;
  border: none;
  transition: all 0.15s linear;
  color: var(--fg-primary);
  background-color: var(--bg-enabled);
}

.button_type_submit {
  margin: 50px auto 0;
}

.text {
  margin: 0;
}

.text_type_error {
  height: 19px;
  margin: 0 auto;
  color: var(--fg-error);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 7px;
}

.fields_type_horizontal {
  flex-direction: row;
}

.field {
  width: 100%;
  min-height: 88px;
  display: flex;
  flex-direction: column;
  gap: 7px 0;
  position: relative;
}

.name {
  margin: 0;
  color: var(--fg-secondary);
}

.dropdown {
  min-width: 100%;
  height: 46px;

  margin: 0;
  padding: 15px;

  box-sizing: border-box;
  border-radius: 8px;
  border: none;

  outline: none;
  color: var(--fg-primary);
  background-color: var(--bg-input);
  border: 1px solid var(--bg-input);
}

.dropdown:hover {
  cursor: pointer;
}

.answers {
  border-radius: 8px;
  padding: 8px 0;
  background: var(--bg-input);
  width: 100%;

  max-height: 500%;
  overflow-y: auto;

  /* Low */
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.04),
    0px 8px 24px 0px rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 0;
  top: 78px;
  opacity: 0;
  z-index: -1;
}

.answers_state_open {
  opacity: 1;
  z-index: 1;
}

.answer {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  flex-shrink: 0;
  z-index: 1;
}

.answer:hover {
  background: var(--input-bg-hover);
}

.answer_state_current {
  background: var(--tertiary-bg-tertiary-trans);
}

.answer__text {
  margin: 0;
}

.answer__add-info {
  margin: 0 0 0 15px;
  height: 12px;
  color: var(--fg-secondary);
}

.link {
  margin: 15px 0 0 0;
  width: fit-content;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .block {
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    gap: 21px;
  }
  .block_type_shareholders {
    grid-template-columns: 1fr;
    gap: 21px;
  }
}

@media screen and (max-width: 544px) {
  .main {
    width: 100%;
    gap: 35px 0;
    padding: 56px 25px 30px;
  }
  .fields {
    gap: 7px;
  }
  .form {
    gap: 7px;
  }
  .fields_type_horizontal {
    flex-direction: column;
  }
  .button {
    max-width: none;
  }
  .block {
    grid-template-columns: 1fr;
    gap: 14px 21px;
  }
  .block_type_shareholders {
    grid-template-columns: 1fr;
    gap: 21px;
  }
}
