.button {
  background-color: var(--bg-enabled);
  color: var(--fg-enabled);
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}

.button:hover {
  opacity: var(--opacity-hover);
}

.button:active {
  opacity: var(--opacity-active);
}

.button:disabled,
.button_enabled_disabled {
  background-color: var(--bg-disabled);
  color: var(--fg-disabled);
}

.button_enabled_disabled:hover,
.button_enabled_disabled:active,
.button:disabled:hover,
.button:disabled:active {
  opacity: 1;
  cursor: auto;
}
