/* ? titles */

.title-main {
  font-family: var(--ff-lending);
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
}

@media screen and (max-width: 544px) {
  .title-main {
    font-size: 33.25px;
  }
}

.title-first {
  font-family: var(--ff-lending);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.36px;
}

.title-second {
  font-family: var(--ff-lending);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.38px;
}

.title-third {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.41px;
}

/* ? labels */

.label-first {
  font-family: var(--ff-lending);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.label-second {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.label-third {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.08px;
}

/* ? landing */

.landing-input {
  font-family: var(--ff-lending);
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4em;
  letter-spacing: 0;
}

.landing-subtitle {
  font-family: var(--ff-lending);
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.4em;
  letter-spacing: 0;
}

.landing-paragraph {
  font-family: var(--ff-lending);
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3em;
  letter-spacing: 0;
}

@media screen and (max-width: 544px) {
  .landing-paragraph {
    font-size: 20px;
  }
}

/* ? another */

.body {
  font-family: var(--ff-lending);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.subhead {
  font-family: var(--ff-lending);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.caption {
  font-family: var(--ff-lending);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.detail {
  font-family: var(--ff-lending);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.25px;
}
