/* ! assets */
/* * vendor */
@import url(./assets/vendor/normalize.css);
/* * fonts */
@import url(./assets/fonts/fonts.css);

/* ! styles */
@import url(./styles/button.css);
@import url(./styles/copy.css);
@import url(./styles/link.css);
@import url(./styles/typography.css);

#root {
  /* ? height */
  --height-header: 98px;

  /* ? font family */
  --ff-primary: 'Helvetica W01 Light', sans-serif;
  --ff-lending: 'Helvetica W01 Light', sans-serif;

  /* ? foreground */
  --fg-primary: #fff;
  --fg-secondary: #8b8b8b;
  --fg-link: #ff9900;
  --fg-detail: #ff9900;
  /* --fg-title: #c86567; */
  --fg-subtitle: #ff9b00;
  --fg-error: #ee3465;
  --fg-disabled: #c4c4c4;

  /* ? opacities */
  --opacity-hover: 64%;
  --opacity-active: 45%;

  /* ? borders */
  --border-color: #424242;
  --border-error: #ee3465;
  --border-link-active: #ff9b00;
  --border-input-focus: #ff9b00;
  --border-input-enabled: #ff9b00;
  --border-color-active: #ff9b00;

  /* ? backgrounds */

  --bg-enabled: #ff9b00;
  --bg-danger: #ee3465;
  --bg-disabled: #f8f8f8;
  --bg-burger-line: #fff;
  /* --bg-primary: #202020; */
  --bg-primary: #191b1f;
  --bg-popup: rgba(0, 0, 0, 0.85);
  --bg-lending: #191b1f;
  --bg-lending-other: #19242e;
  --bg-lending-secondary: #2d3643;
  --bg-footer: #1e242e;

  --bg-secondary: #272727;
  --bg-input: #1e242e;
  /* --- --- --- */

  --button-text-color: #000000;

  --landing-title-border-color: #dadada;
  --landing-title-black-border-color: #000;

  --button-out-color: #ee3465;
  --user-icon-button-bg-color: #313131;
  --button-bg-color: #ee3465;
  --button-bg-color-no-added: #313131;

  --preloader-bg-color: #4285f4;
}

#root {
  /* ? max-width */
  --max-width-app: 1280px;

  /* ? bg-colors */
  --main-bg-color: #202020;
  --sub-main-bg-color: #272727;

  --input-bg-hover: #a9aeb83d;
  --tertiary-bg-tertiary-trans: #c9ccd13d;

  --error: #ee3465;

  --user-card-bg-color: #222222;

  --second-main-text-color: #e7e7e7;

  --err-text-color: var(--error);
  --button-text-color: #000000;

  --button-component-color-active: #fff;
  --button-bg-dark-color: #343434;

  --button-component-color-active: #fff;
  --button-component-color-unactive: #a0a0a0;
}
